/* Custom scrollbar styles */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 4px; /* Rounded corners for the track */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}